body{
  background-color: rgb(254,254,246);
  background-image: url("https://kalvium.community/assets/widget-background.812f48c4.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.app {
  background-color: rgb(254,254,246);
  background-image: url("https://kalvium.community/images/launcher-hero-bg.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 25vw;
  height: 37vw;
  margin: 6vw auto;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0);
  padding-block: 14vw;
}

form {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input{
  width: 20vw;
  height: 3vw;
  border: none;
  padding-inline: 1.3vw;
  border-radius: 5px;
  background-color: white;
  color: rgb(63, 63, 63);
}

label {
  align-self: flex-start;
  margin-top: 1.2vw;
  color: rgb(63, 63, 63);
  font-weight: bold;
}

.button {
  width: 20vw;
  padding: 5px;
  font-size: 20px;
  margin-top: 2vw;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success{
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  width: 20vw;
  height: 3.3vw;
  padding: 5px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-text{
  color: red;
}